<div class="row">
	<div class="large-12 columns">
		<h1>Login</h1>
	</div>
</div>

<% if flash[:login] %>
    <div class="row">
    	<div class="large-12 columns">
    		<div data-alert class="alert-box warning">
			  <%= flash[:login] %>
			  <a href="#" class="close">&times;</a>
			</div>
		</div>
	</div>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>	
	<div class="row">
		<div class="large-12 columns">
			<div class="field">
			    <%= f.label :email %><br>
			    <%= f.text_field :email %>
		  	</div>
	  	</div>
		<div class="large-12 columns">
		  	<div class="field">
			    <%= f.label :password %><br>
			    <%= f.password_field :password %>
		  	</div>
		</div>
		<div class="large-12 columns">
		  	<div class="actions">
		    	<%= f.submit "Login", :class => "button success expand" %>
		  	</div>	  	
	  	</div>
	</div>
<% end %>

<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Register', register_path, {:class => "button secondary expand"} %>
	</div>
</div>