<div class="row">
	<div class="large-12 columns">
		<h1>Interface</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p class="panel">Here you can request an API key for you application. Simply click the button below to recieve one, it will be saved to your user and displayed here if you have one.</p>
	</div>
</div>

<% if flash[:key] %>
    <div class="row">
    	<div class="large-12 columns">
    		<div data-alert class="alert-box warning">
			  <%= flash[:key] %>
			  <a href="#" class="close">&times;</a>
			</div>
		</div>
	</div>
<% end %>

<% @api_key.each do |key| %>
	<div class="row">
		<div class="large-6 columns">			
			<p class="panel">Your API key: <%= key.api_key %></p>			
		</div>
		<div class="large-6 columns">
			<p class="panel">
				<%= link_to "Remove your key", {:controller => "api_key", :action => "destroy", :id => key.id} %>
			</p>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Get API Key!', request_path, {:class => "button secondary expand"} %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Log Out', logout_path, {:class => "button secondary expand"} %>
	</div>
</div>