<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "API Key Application" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>	
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">RegistrationAPP</a></h1>
	    </li>
	    <% if logged_in? %>
	    	<li class="toggle-topbar"><a href="#"><span>Logged in</span></a></li>
	  	<% end %>
	  </ul>
	
	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	    	<% if logged_in? %>
	      		<li><a href="#">Logged in as <%= current_user.email %></a></li>
	      	<% end %>
	    </ul>
	  </section>
	</nav>

    <%= yield %>
  </body>
</html>
